html,
body {
  font-size: 10px;
  font-weight: 400;
  scroll-behavior: smooth;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 9rem;
  line-height: 1.4;
  font-weight: 600;
}

h2 {
  font-size: 4.7rem;
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3.1rem;
  line-height: 1.2;
  font-weight: 700;
}

h4 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

h5 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
a:active,
a:focus,
a:hover,
button {
  text-decoration: none;
  outline: 0;
}

a:hover,
button:hover {
  --webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

* {
  font-family: "Black Ops One", cursive;
}

body {
  height: 100%;
  background-color: wheat;
}

/* Navbar Section */

.header {
  margin-bottom: 10rem;
}

.header .header-container {
  background-color: black;
}

.header .header-container .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .header-container .container .home button {
  border: 1rem solid black;
  background-color: black;
}

.header .header-container .container .home button a {
  font-size: 2rem;
  color: red;
}

.header .header-container .container .home button a:hover {
  color: white;
}

.header .header-container .container .home button a:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: all 0.1s ease-in;
}

.header .header-container .container ul {
  list-style: none;
}

.header .header-container .container .list li {
  margin: 0rem 1rem;
}

.header .header-container .container .list li button {
  background-color: black;
  border: 1rem solid black;
  border-radius: 5%;
}

.header .header-container .container .list li button a {
  font-size: 1.5rem;
  color: red;
}

.header .header-container .container .list li button a:hover {
  color: white;
}

.header .header-container .container .list li button a:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: all 0.1s ease-in;
}

.header .header-container .container .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Main Section */
.main .main-container {
  /* position:absolute;
  z-index:1000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .main-container .main-header {
  margin-bottom: 2rem;
}

.main .main-container .main-central-img {
  display: flex;
  margin-bottom: 2rem;
}

.main .main-container .main-central-img img {
  height: 15rem;
  width: 15rem;
}

.main .main-container .main-central-btn button {
  background-color: black;
  color: red;
  font-size: 2.5rem;
  border: 1px solid black;
  border-radius: 3%;
  padding: 0.5rem 15rem;
}

.main .main-container .main-central-btn button:hover {
  color: white;
}

.main .main-container .main-central-btn button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: all 0.1s ease-in;
}

.main .main-container .main-info-forms {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

/* Footer Section */
.footer-section {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: red;
  background-color: black;
  font-size: 1rem;
  padding: 1.3rem;
}
