html,
body {
  font-size: 10px;
  font-weight: 400;
  scroll-behavior: smooth;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 9rem;
  line-height: 1.4;
  font-weight: 600;
}

h2 {
  font-size: 4.7rem;
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3.1rem;
  line-height: 1.2;
  font-weight: 700;
}

h4 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

h5 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
a:active,
a:focus,
a:hover,
button {
  text-decoration: none;
  outline: 0;
}

a:hover,
button:hover {
  --webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* Main Board Section*/

.main .board-container {
  margin: 10rem 50rem;
}

.main .board-container .row{
  display: flex;
  justify-content: center;
  
}

.main .board-container .col {
  border: 2px solid black;
  padding: 0;
  height: 6rem;
  width: 6rem;
}

/*Light brown squares*/
.board-container .row:nth-child(odd) .col:nth-child(odd),
.board-container .row:nth-child(even) .col:nth-child(even) {
  background-color: #f0d9b5;
}

/*Dark brown squares */
.board-container .row:nth-child(odd) .col:nth-child(even),
.board-container .row:nth-child(even) .col:nth-child(odd) {
  background-color: #b58863;
}


/* 
Images from https://www.iconfinder.com/search?q=checkers
*/

/* Image for black piece */
.main .board-container .col .black-piece {
  background-image: url('../public/resources/img/blackBase.png'); 
  background-size: 140% 140%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%; 
  filter: drop-shadow(0 0 0.75rem rgb(72, 72, 72));
  height: 5rem;
  width: 5rem;
}

/* Image for red piece */
.main .board-container .col .red-piece {
  background-image: url('../public/resources/img/redBase.png'); 
  background-size: 140% 140%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem rgb(188, 1, 1));
  height: 5rem;
  width: 5rem;
}
/* 
.main .board-container .col .empty-square {
  padding: 2.6rem;
} */
