html,
body {
  font-size: 10px;
  font-weight: 400;
  scroll-behavior: smooth;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 9rem;
  line-height: 1.4;
  font-weight: 600;
}

h2 {
  font-size: 4.7rem;
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3.1rem;
  line-height: 1.2;
  font-weight: 700;
}

h4 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

h5 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
a:active,
a:focus,
a:hover,
button {
  text-decoration: none;
  outline: 0;
}

a:hover,
button:hover {
  --webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

* {
  font-family: "Black Ops One", cursive;
}

body {
  background-color: wheat;
}

.about .about-container .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .about-container .container img {
  border: black;
  border-radius: 2%;
  display: block;
}

.about .about-container .container h3 {
  color: #f5ac8e;
}

.about .about-container .container h5 {
  color: #f5ac8e;
}

.about .about-container .container h4 {
  color: #f5ac8e;
}

.about .about-container .container li {
  list-style-type: disc;
  color: #f5ac8e;
}

p {
  color: #f5ac8e;
}

/* About Me Section */

.about-me .about-me-container .container img {
  display: block;
  border-radius: 2%;
}

.about-me .about-me-container .container h4 {
  color: #f5ac8e;
}

/* XS devices */
@media (max-width: 575.98px) {
  .about .about-container .container img {
    height: 40rem;
    width: 100vw;
  }

  .about .about-container .container h5 {
    font-size: 1.5rem;
    margin-bottom: 5rem;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .about .about-container .container h3 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 2rem;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .about .about-container .container .lists {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .about .about-container .container li {
    margin: 1rem;
    font-size: 1.2rem;
    margin-left: 2rem;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .about .about-container .container h4 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .about-me .about-me-container .container {
    margin-bottom: 5rem;
  }

  .about-me .about-me-container .container img {
    height: 30rem;
    width: 30rem;
    margin: 5rem auto;
    margin-top: 2.5rem;
  }

  .about-me .about-me-container .container h4 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .about-me .about-me-container .container p {
    margin: 2rem 0;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

/* M devices */
@media (min-width: 768px) {
  .about .about-container .container img {
    height: 40rem;
    width: 100vw;
  }

  .about .about-container .container h5 {
    font-size: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .about .about-container .container h3 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .about .about-container .container .lists {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .about .about-container .container li {
    margin: 1rem;
    font-size: 1.5rem;
    margin-left: 2rem;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .about .about-container .container h4 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .about-me .about-me-container .container {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-me .about-me-container .container img {
    margin-top: 5rem;
    height: 40rem;
    width: 60rem;
    margin-bottom: 10rem;
  }

  .about-me .about-me-container .container h4 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .about-me .about-me-container .container p {
    margin: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

/* L devices */
@media (min-width: 992px) {
  .about .about-container .container img {
    height: 50rem;
    width: 100vw;
  }

  .about .about-container .container h5 {
    font-size: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .about .about-container .container h3 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    text-align: center;
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .about .about-container .container .lists {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .about .about-container .container li {
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .about .about-container .container h4 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .about-me .about-me-container .container {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-me .about-me-container .container img {
    margin-top: 5rem;
    height: 40rem;
    width: 60rem;
    margin-bottom: 10rem;
  }

  .about-me .about-me-container .container h4 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .about-me .about-me-container .container p {
    margin: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 15rem;
    margin-right: 15rem;
  }
}

/* XL devices */
@media (min-width: 1200px) {
  .about .about-container .container img {
    height: 60rem;
    width: 99vw;
  }

  .about .about-container .container h5 {
    font-size: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    margin-left: 25rem;
    margin-right: 25rem;
  }

  .about .about-container .container h3 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    text-align: center;
    margin-left: 25rem;
    margin-right: 25rem;
  }

  .about .about-container .container .lists {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .about .about-container .container li {
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 25rem;
    margin-right: 25rem;
  }

  .about .about-container .container h4 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    margin-left: 25rem;
    margin-right: 25rem;
  }

  .about-me .about-me-container .container {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-me .about-me-container .container img {
    margin-top: 5rem;
    height: 40rem;
    width: 60rem;
    margin-bottom: 10rem;
  }

  .about-me .about-me-container .container h4 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .about-me .about-me-container .container p {
    margin: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 25rem;
    margin-right: 25rem;
  }
}
