.game .game-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 200px;
  margin-top: 10px;
}

.game .game-container .main .board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.game .game-container .main .board .board-row {
  display: flex;
}

.game .game-container .main .board .board-row .board-col {
  height: 70px;
  width: 70px;
}

.game .game-container .main .board .board-row .board-col {
  text-align: right;
}

/* Light brown squares */
.main .board .board-row:nth-child(odd) .board-col:nth-child(odd),
.main .board .board-row:nth-child(even) .board-col:nth-child(even) {
  background-color: #f0d9b5;
  color: #b58863;
}

/*Dark brown squares */
.main .board .board-row:nth-child(odd) .board-col:nth-child(even),
.main .board .board-row:nth-child(even) .board-col:nth-child(odd) {
  background-color: #b58863;
  color: #f0d9b5;
}
