.game .game-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 200px;
  margin-top: 10px;
}

.game .game-container .main .board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.game .game-container .main .board .board-row {
  display: flex;
}

.game .game-container .main .board .board-row .board-col {
  height: 70px;
  width: 70px;
}

.game .game-container .main .board .board-row .board-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Light brown squares */
.main .board .board-row:nth-child(odd) .board-col:nth-child(odd),
.main .board .board-row:nth-child(even) .board-col:nth-child(even) {
  background-color: #f0d9b5;
  color: #b58863;
}

/*Dark brown squares */
.main .board .board-row:nth-child(odd) .board-col:nth-child(even),
.main .board .board-row:nth-child(even) .board-col:nth-child(odd) {
  background-color: #b58863;
  color: #f0d9b5;
}

.game .game-container .main .board .board-row .board-col .piece-black {
  background-image: url("../assets/img/blackBase.png");
  background-size: 140% 140%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

.game .game-container .main .board .board-row .board-col .piece-red {
  background-image: url("../assets/img/redBase.png");
  background-size: 140% 140%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

.game .game-container .main .board .board-row .piece-selected .piece-red {
  border: 2px solid gold;
}
