.game .game-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 25px;
  margin-top: 5px;
}

/* Game Board Section */

.game .game-container .main .board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.game .game-container .main .board .board-row {
  display: flex;
}

.game .game-container .main .board .board-row .board-col {
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Light brown squares */
.main .board .board-row:nth-child(odd) .board-col:nth-child(odd),
.main .board .board-row:nth-child(even) .board-col:nth-child(even) {
  color: #b58863;
  background-color: #f2cfa7;
}

/*Dark brown squares */
.main .board .board-row:nth-child(odd) .board-col:nth-child(even),
.main .board .board-row:nth-child(even) .board-col:nth-child(odd) {
  color: #f0d9b5;
  background-color: #c36c37;
}

.game .game-container .main .board .board-row .board-col .piece-black {
  background-image: url("../assets/img/blackBase.png");
  background-size: 140% 140%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  cursor: pointer;
}

.game .game-container .main .board .board-row .board-col .piece-black:hover {
  height: 60px;
  width: 60px;
}

.game .game-container .main .board .board-row .board-col .piece-black:active {
  transform: translateY(8px);
}

.game .game-container .main .board .board-row .board-col .piece-black-king {
  background-image: url("../assets/img/blackKing.png");
  background-size: 140% 140%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  cursor: pointer;
}

.game
  .game-container
  .main
  .board
  .board-row
  .board-col
  .piece-black-king:hover {
  height: 60px;
  width: 60px;
}

.game
  .game-container
  .main
  .board
  .board-row
  .board-col
  .piece-black-king:active {
  transform: translateY(8px);
}

.game .game-container .main .board .board-row .board-col .piece-red {
  background-image: url("../assets/img/redBase.png");
  background-size: 140% 140%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  cursor: pointer;
}

.game .game-container .main .board .board-row .board-col .piece-red:hover {
  height: 60px;
  width: 60px;
}

.game .game-container .main .board .board-row .board-col .piece-red:active {
  transform: translateY(8px);
}

.game .game-container .main .board .board-row .board-col .piece-red-king {
  background-image: url("../assets/img/redKing.png");
  background-size: 140% 140%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  cursor: pointer;
}

.game .game-container .main .board .board-row .board-col .piece-red-king:hover {
  height: 60px;
  width: 60px;
}

.game
  .game-container
  .main
  .board
  .board-row
  .board-col
  .piece-red-king:active {
  transform: translateY(8px);
}

.game .game-container .main .board .board-row .possible-move {
  background-color: #d9992e !important;
}

.game .game-container .main .board .board-row .possible-move:hover {
  background-color: #dead59 !important;
}

.game .game-container .main .board .board-row .selected {
  background-color: #dead59;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 0.5rem red);
  }
  to {
    filter: drop-shadow(0 0 0.5rem black);
  }
}

.game .game-container .main .board .board-row .board-col .-turn {
  animation: glow 1.5s infinite alternate;
  filter: drop-shadow(0 0 0.5rem gold);
}

@keyframes slidePiece {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(var(--endX), var(--endY));
  }
}

.game .game-container .main .board .board-row .board-col .piece-animation {
  animation: slidePiece 0.5s ease-out forwards;
}

/* Player scorecards section */

.game .game-container .main .opponent-card,
.game .game-container .main .player-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.game .game-container .main .opponent-card {
  margin-bottom: 5px;
}

.game .game-container .main .opponent-card svg {
  height: 40px;
  width: 40px;
  filter: drop-shadow(0 0 1.5rem gold);
}

.game .game-container .main .opponent-card .red-captured,
.game .game-container .main .player-card .black-captured {
  height: 20px;
  width: 20px;
  filter: drop-shadow(0 0 1.5rem gold);
}

.game .game-container .main .opponent-card h5,
.game .game-container .main .player-card h5 {
  color: #f5ac8e;
  font-size: 1rem;
}

.game .game-container .main .opponent-card .first-col,
.game .game-container .main .player-card .first-col {
  display: flex;
  gap: 10px;
}

.game .game-container .main .player-card .row,
.game .game-container .main .opponent-card .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.game .game-container .main .opponent-card .row .column h5 {
  margin-left: 4px;
}

.game .game-container .main .player-card .row .column-captures,
.game .game-container .main .opponent-card .row .column-captures {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.game .game-container .main .opponent-card .score,
.game .game-container .main .player-card .score {
  /* margin: 0 auto; */
  font-size: 1.5rem;
}

/* End of Game section */
.game-finished {
  position: fixed;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 525px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.75);
  color: #f5ac8e;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.game-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.game-finished img {
  height: 200px;
  width: 200px;
  filter: drop-shadow(0 0 1.5rem gold);
  border: 0px solid black;
  border-radius: 10px;
}

.game-finished h3 {
  margin-bottom: 10px;
}

.game-finished .flag-world {
  height: 45px;
  width: 55px;
  margin-right: 10px;
}

.game-finished .winner {
  margin-bottom: 15px;
}

.game-finished .player-names svg {
  margin-right: 10px;
  color: white;
  filter: drop-shadow(0 0 1.5rem gold);
  font-size: 45px;
}

.game-finished .player-names .row-player-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-finished .player-names,
.game-finished .player-scores,
.game-finished .captured-pieces {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.game-finished .replay-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-finished .replay-buttons h4 {
  margin-bottom: 10px;
}

.game-finished .replay-buttons button {
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: #f5ac8e;
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
}

.game-finished .replay-buttons button:hover {
  filter: drop-shadow(0 0 0.5rem gold);
}

.game-finished .replay-buttons button:active {
  transform: translateY(8px);
}

.game-finished .replay-buttons .mp-btn {
  margin-right: 10px;
}

.game-finished .replay-buttons .ai-btn {
  margin-left: 10px;
}

/* Game Info Section */
.game .game-container .game-info {
  width: 300px;
  height: 560px;
  border: 1px solid black;
  margin-top: 45px;
  color: #f5ac8e;
}

.game .game-container .game-info h6 {
  font-size: 1.5rem;
}

/* Footer Section */
.footer-section {
  border: 0 solid black;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #f5ac8e;
  font-size: 1rem;
  padding: 1.3rem;
}
