* {
  font-family: "Black Ops One", cursive;
}

/* Navbar Section */
/* .navbar .navbar-container {
  background-color: rgba(57, 40, 33, 0.5);
  border-bottom: 1px solid rgba(57, 40, 33, 0.3);
} */

.navbar .navbar-container {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.navbar .navbar-container .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
}

.navbar .navbar-container .container .home button {
  border: 0 solid black;
  background-color: transparent;
}

.navbar .navbar-container .container .home button a {
  font-size: 2rem;
  /* color: white; */
  color: #f5ac8e;
}

.navbar .navbar-container .container .home button a:hover {
  /* color: #f5ac8e; */
  color: white;
}

.navbar .navbar-container .container .home button a:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: all 0.1s ease-in;
}

.navbar .navbar-container .container ul {
  list-style: none;
}

.navbar .navbar-container .container .list li {
  margin: 0rem 1rem;
}

.navbar .navbar-container .container .list li button {
  border: 0 solid black;
  background-color: transparent;
  font-size: 1.5rem;
  /* color: white; */
  color: #f5ac8e;
  cursor: pointer;
}

.navbar .navbar-container .container .list li button a {
  font-size: 1.5rem;
  /* color: white; */
  color: #f5ac8e;
}

.navbar .navbar-container .container .list li button :hover {
  /* color: #f5ac8e; */
  color: white;
}

.navbar .navbar-container .container .list li button :active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: all 0.1s ease-in;
}

.navbar .navbar-container .container .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-container .container .list .menu {
  margin-top: 0.5rem;
}

.navbar .navbar-container .container .list .dropdown-menu {
  color: #f5ac8e;
  /* background-color: black; */
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #f5ac8e;
  border-radius: 5%;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
}

.navbar .navbar-container .container .list .dropdown-menu div {
  border: 1px solid #f5ac8e;
  padding: 5px;
}

.navbar .navbar-container .container .list .dropdown-menu :hover {
  color: white;
}

.navbar .navbar-container .container .list .dropdown-menu :active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: all 0.1s ease-in;
}
