/* Main Section */
.main .main-reset-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .main-reset-container .main-header {
  color: #f5ac8e;
}

.main .main-reset-container .main-central-img {
  display: flex;
}

.main .main-reset-container .main-central-img img {
  filter: drop-shadow(0 0 1.5rem #f5ac8e);
}

.main .main-reset-container .main-info-forms label {
  color: #f5ac8e;
}

.main .main-reset-container .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .main-reset-container .main-central-btn button {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: #f5ac8e;
  border: 1px solid black;
  border-radius: 3%;
  cursor: pointer;
}

.main .main-reset-container .main-central-btn button:hover {
  color: white;
}

.main .main-reset-container .main-central-btn button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: all 0.1s ease-in;
}

.main .signup-btn button {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: #f5ac8e;
  border: 1px solid black;
  border-radius: 3%;
  cursor: pointer;
}

.main .signup-btn .signup-link {
  color: #f5ac8e;
}

.main .signup-btn button:hover {
  color: white;
}

.main .signup-btn button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: all 0.1s ease-in;
}

.main .main-reset-container .main-info-forms {
  display: flex;
  flex-direction: column;
}

.main .main-reset-container .flex-container .main-login-btn {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid black;
  border-radius: 3%;
  cursor: pointer;
}

.main .main-reset-container .flex-container .main-login-btn a {
  color: #f5ac8e;
}

.main .main-reset-container .flex-container .main-login-btn a:hover {
  color: white;
}

.main .main-reset-container .flex-container .main-login-btn a:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: all 0.1s ease-in;
}

/* XS, S and M devices */
@media (max-width: 575.98px), (min-width: 576px) {
  .main .main-reset-container {
    margin-top: 125px;
  }

  .main .main-reset-container .main-header {
    margin-bottom: 2rem;
  }

  .main .main-reset-container .main-central-img {
    margin-bottom: 2rem;
  }

  .main .main-reset-container .main-central-img img {
    height: 10rem;
    width: 10rem;
  }

  .main .main-reset-container .flex-container {
    gap: 1rem;
  }
  .main .main-reset-container .main-central-btn button {
    font-size: 1.2rem;
    padding: 0.5rem 6rem;
  }

  .main .main-reset-container .main-info-forms {
    gap: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  .main .main-reset-container .main-info-forms input {
    font-size: 1.2rem;
  }

  .main .main-reset-container .flex-container .main-login-btn {
    padding: 0.5rem 3.6rem;
  }

  .main .main-reset-container .flex-container .main-login-btn a {
    font-size: 1.2rem;
  }
}

/* L devices */
@media (min-width: 992px) {
  .main .main-reset-container {
    margin-top: 150px;
  }

  .main .main-reset-container .main-header {
    margin-bottom: 2rem;
  }

  .main .main-reset-container .main-central-img {
    margin-bottom: 2rem;
  }

  .main .main-reset-container .main-central-img img {
    height: 12rem;
    width: 12rem;
  }

  .main .main-reset-container .flex-container {
    gap: 1rem;
  }
  .main .main-reset-container .main-central-btn button {
    font-size: 1.5rem;
    padding: 0.5rem 6rem;
  }

  .main .main-reset-container .main-info-forms {
    gap: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .main .main-reset-container .main-info-forms input {
    font-size: 1.5rem;
  }

  .main .main-reset-container .flex-container .main-login-btn {
    padding: 0.5rem 3rem;
  }

  .main .main-reset-container .flex-container .main-login-btn a {
    font-size: 1.5rem;
  }
}
