/* Main Section */
.main .main-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5ac8e;
}

.main .main-signup-container .main-central-img {
  margin-bottom: 2rem;
}

.main .main-signup-container .main-central-img img {
  filter: drop-shadow(0 0 1.5rem #f5ac8e);
}

.main .main-signup-container .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .main-signup-container .main-central-btn button {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: #f5ac8e;
  border: 1px solid black;
  border-radius: 3%;
  cursor: pointer;
}

.main .main-signup-container .main-central-btn button:hover {
  color: white;
}

.main .main-signup-container .main-central-btn button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: all 0.1s ease-in;
}

.main .login-btn button {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: #f5ac8e;
  border: 1px solid black;
  border-radius: 3%;
  cursor: pointer;
}

.main .login-btn .login-link {
  color: #f5ac8e;
}

.main .login-btn button:hover {
  color: white;
}

.main .login-btn button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: all 0.1s ease-in;
}

.main .main-signup-container .main-info-forms {
  display: flex;
  flex-direction: column;
}

/* XS devices */
@media (max-width: 575.98px) {
  .main .main-signup-container {
    margin-top: 100px;
  }

  .main .main-signup-container .main-header h3 {
    font-size: 2rem;
    text-align: center;
  }

  .main .main-signup-container .main-header {
    margin-bottom: 1rem;
  }

  .main .main-signup-container .main-central-img {
    margin-bottom: 2rem;
  }

  .main .main-signup-container .main-central-img img {
    height: 10rem;
    width: 10rem;
  }
  .main .main-signup-container .flex-container {
    gap: 1rem;
  }

  .main .main-signup-container .main-central-btn button {
    font-size: 1.5rem;
    padding: 0.5rem 7.5rem;
  }
  .main .login-btn button {
    font-size: 1.5rem;
    padding: 0.5rem 5rem;
  }

  .main .main-signup-container .main-info-forms {
    gap: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .main .main-signup-container .main-info-forms input {
    font-size: 1rem;
  }

  .main .main-signup-container .main-info-forms .country-select {
    font-size: 1rem;
  }
}
/* S Devices */
@media (min-width: 576px) {
  .main .main-signup-container {
    margin-top: 25px;
  }

  .main .main-signup-container .main-header h3 {
    font-size: 2rem;
    text-align: center;
  }

  .main .main-signup-container .main-header {
    margin-bottom: 1rem;
  }

  .main .main-signup-container .main-central-img {
    margin-bottom: 2rem;
  }

  .main .main-signup-container .main-central-img img {
    height: 10rem;
    width: 10rem;
  }
  .main .main-signup-container .flex-container {
    gap: 1rem;
  }

  .main .main-signup-container .main-central-btn button {
    font-size: 1.5rem;
    padding: 0.5rem 7.5rem;
  }
  .main .login-btn button {
    font-size: 1.5rem;
    padding: 0.5rem 5rem;
  }

  .main .main-signup-container .main-info-forms {
    gap: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .main .main-signup-container .main-info-forms input {
    font-size: 1rem;
  }

  .main .main-signup-container .main-info-forms .country-select {
    font-size: 1rem;
  }
}
/* M devices */
@media (min-width: 768px) {
  .main .main-signup-container {
    margin-top: 25px;
  }

  .main .main-signup-container .main-header h3 {
    font-size: 2rem;
    text-align: center;
  }

  .main .main-signup-container .main-header {
    margin-bottom: 1rem;
  }

  .main .main-signup-container .main-central-img {
    margin-bottom: 2rem;
  }

  .main .main-signup-container .main-central-img img {
    height: 10rem;
    width: 10rem;
  }
  .main .main-signup-container .flex-container {
    gap: 1rem;
  }

  .main .main-signup-container .main-central-btn button {
    font-size: 1.5rem;
    padding: 0.5rem 7.5rem;
  }
  .main .login-btn button {
    font-size: 1.5rem;
    padding: 0.5rem 5rem;
  }

  .main .main-signup-container .main-info-forms {
    gap: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .main .main-signup-container .main-info-forms input {
    font-size: 1rem;
  }

  .main .main-signup-container .main-info-forms .country-select {
    font-size: 1rem;
  }
}
/* L devices */
@media (min-width: 992px) {
  .main .main-signup-container {
    margin-top: 25px;
  }

  .main .main-signup-container .main-header h3 {
    font-size: 2rem;
    text-align: center;
  }

  .main .main-signup-container .main-header {
    margin-bottom: 1rem;
  }

  .main .main-signup-container .main-central-img {
    margin-bottom: 2rem;
  }

  .main .main-signup-container .main-central-img img {
    height: 12rem;
    width: 12rem;
  }
  .main .main-signup-container .flex-container {
    gap: 1rem;
  }

  .main .main-signup-container .main-central-btn button {
    font-size: 1.2rem;
    padding: 0.5rem 7.5rem;
  }
  .main .login-btn button {
    font-size: 1.2rem;
    padding: 0.5rem 5rem;
  }

  .main .main-signup-container .main-info-forms {
    gap: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .main .main-signup-container .main-info-forms input {
    font-size: 1rem;
  }

  .main .main-signup-container .main-info-forms .country-select {
    font-size: 1rem;
  }
}
/* XL devices */
@media (min-width: 1200px) {
  .main .main-signup-container {
    margin-top: 25px;
  }

  .main .main-signup-container .main-header h3 {
    font-size: 2.5rem;
    text-align: center;
  }

  .main .main-signup-container .main-header {
    margin-bottom: 1rem;
  }

  .main .main-signup-container .main-central-img {
    margin-bottom: 2rem;
  }

  .main .main-signup-container .main-central-img img {
    height: 15rem;
    width: 15rem;
  }
  .main .main-signup-container .flex-container {
    gap: 1rem;
  }

  .main .main-signup-container .main-central-btn button {
    font-size: 1.5rem;
    padding: 0.5rem 7.5rem;
  }
  .main .login-btn button {
    font-size: 1.5rem;
    padding: 0.5rem 5rem;
  }

  .main .main-signup-container .main-info-forms {
    gap: 0.5rem;
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  .main .main-signup-container .main-info-forms input {
    font-size: 1rem;
  }

  .main .main-signup-container .main-info-forms .country-select {
    font-size: 1.2rem;
  }
}
